<%- include('../layouts/header')%> 
<%- include('../layouts/navbar')%>

<div class="admin-home-container">
  <div class="left-home">
    <%-include('../layouts/sidebar')%>
  </div>
  <div class="right-home">
    <div class="home-detials">
      <h1>HOME PAGE</h1>
    </div>
  </div>
</div>

<%- include('../layouts/footer')%>
