<%-include('header')%>
<div class="nav-container">
    <div class="left-nav-section">
        <div class="log">
            <p>USER<span>.COM</span></p>
        </div>
    </div>
    <!-- <div class="right-nav-section">right</div> -->
</div>
<%-include('header')%>