
<div class="admin-container">
  <div class="admin-left-container">
    <div class="top-items">
      <li onclick="window.location.href='/admin/userTable'">DASHBOARD</li>
      <li onclick="window.location.href='/admin/addUser'">ADD USER</li>
      <!-- <li>UPDATE</li> -->
      <li onclick="window.location.href='/admin/dashboard'">HOME</li>
    </div>
    <div class="bottom-item">
      <div class="admin-dp-wrapper">
        <img class="admin-dp" src="/assets/userImages/<%=data.image%>" alt="" />
      </div>
      <div class="admin-detials">
        <p><%=data.fname%> <%=data.sname%></p>
        <p><%=data.email%></p>
      </div>
        <button class="admin-logout-btn" onclick="window.location.href='/admin/adminLogout'">Logout</button>
    </div>
    
  </div>
</div>


